In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import json

In [2]:
client = MongoClient('localhost', 27017)
db = client.db
comments = db.comments

In [3]:
commentdf = pd.DataFrame(comments.find({'created_utc': {'$exists': 'true'}}))

In [4]:
def string_to_list(string):
    return json.loads(string)

def get_len(list):
    return len(list)

In [5]:
commentdf['size'] = commentdf['stocks'].apply(get_len)

In [7]:
stockdf = commentdf.loc[commentdf['size'] != 0]

In [6]:
companydf = pd.DataFrame(db.companylist.find())

In [10]:
len(companydf['Industry'].unique())

137

In [29]:
from sklearn.preprocessing import MultiLabelBinarizer
s = stockdf['stocks']
mlb = MultiLabelBinarizer()
onehotdf = pd.DataFrame(mlb.fit_transform(s), columns = mlb.classes_, index = stockdf.index)

connectionsdict = onehotdf.sum(axis = 1).to_dict()
connectionsdict = {k:v for k, v in connectionsdict.items() if v != 1}

onehotdf = onehotdf[onehotdf.index.isin(connectionsdict.keys())]

chorddict = onehotdf.sum(axis = 0).to_dict()
chorddict = {key:val for key, val in chorddict.items() if val > 0}

nonMatrix = ['NaN', 'ACB', 'ALL', 'AM', 'AN', 'ANY', 'AONE', 'APT', 'AT', 'BB', 'BE', 'BEST', 'BIG', 'BILL', 'BOX', 'BRO', 'BY', 'CEO', 'DNOW', 'ET', 'EVER', 'FDS', 'FL', 'FOR', 'FREE', 'GDP', 'GL', 'HAS', 'HD', 'HE', 'HOME', 'HOPE', 'IQ', 'JP', 'KIM', 'LIFE', 'LIVE', 'LL', 'LOW', 'MAN', 'NEXT', 'NOW', 'OI', 'ONE', 'OUT', 'PLAN', 'PLAY', 'PM', 'PPT', 'PUMP', 'RE', 'REAL', 'RH', 'RTX', 'RUN', 'SAVE', 'SE', 'SGU', 'SO', 'SPXC', 'STAR          ', 'STAY', 'TDA', 'TEAM', 'TECH', 'TELL', 'TIMB$', 'TISI', 'TV', 'TWO', 'UI', 'TD', 'GLG']

take_or = lambda x, y: x if x >= y else y
onehotdf['BRK'] = onehotdf['BRK.A'].combine(onehotdf['BRK.B'], take_or)
onehotdf.drop(columns = ['BRK.A', 'BRK.B'], inplace = True)
onehotdf['GOOG'] = onehotdf['GOOG'].combine(onehotdf['GOOGL'], take_or)
onehotdf.drop(columns = ['GOOG', 'GOOGL'], inplace = True)

onehotdf.drop(columns = nonMatrix, inplace = True)

chorddict = onehotdf.sum(axis = 0).to_dict()
chorddict = {key:val for key, val in chorddict.items() if val > 100}

chorddf = onehotdf[chorddict.keys()]

chorddf = chorddf.T
testdict = chorddf.dot(chorddf.T).sum().sort_values().to_dict()

names = list(testdict.keys())[113:]
chorddf = onehotdf[names]

matrix = chorddf.corr()

matrix[matrix < 0] = 0
matrix[matrix == 1] = 0
matrix = matrix.values.tolist()

Processing /home/user/.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897/sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Downloading scikit_learn-0.23.2-cp38-cp38-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 7.5 MB/s
Requirement already satisfied: scipy>=0.19.1 in /home/user/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.5.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.13.3 in /home/user/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.4)
Collecting joblib>=0.11
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 45.2 MB/s
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

sacremoses 0.0.43 requires regex, which is not installed.
flair 0.6.1.post1 requires lxml, which is not installed.
flair 0.6.1.post1 requires matplotlib>=2.2.3, which is not installed.
flair 0.6.1.post1 requires regex, which is not installed.
Successfully installed joblib-0.17.0 scikit-learn-0.23.2 sklearn-0.0 threadpoolctl-2.1.0

In [ ]:
from chord import Chord
#Chord(matrix, names).to_html()

In [11]:
from sklearn.preprocessing import MultiLabelBinarizer
s = stockdf['stocks']
mlb = MultiLabelBinarizer()
onehotdf = pd.DataFrame(mlb.fit_transform(s), columns = mlb.classes_, index = stockdf.index)

In [52]:
testdict = onehotdf.sum(axis = 0).to_dict()
testdict = {key:val for key, val in testdict.items() if val >= 25}

In [53]:
len(testdict)

921

In [54]:
testdict.keys()

dict_keys(['AA', 'AAL', 'AAPL', 'AAXN', 'ABBV', 'ABC', 'ABT', 'ABUS', 'AC', 'ACB', 'ACC', 'ACH', 'ACI', 'ACT', 'ADBE', 'ADMA', 'ADP', 'ADS', 'ADSK', 'ADT', 'AEO', 'AG', 'AGE', 'AGO', 'AHH', 'AIG', 'AIM', 'AIN', 'AIR', 'AIRT', 'AL', 'ALK', 'ALL', 'ALLY', 'ALOT', 'ALT', 'AM', 'AMAT', 'AMC', 'AMCX', 'AMD', 'AMRN', 'AMT', 'AMZN', 'AN', 'ANY', 'AONE', 'AOS', 'AP', 'APA', 'APG', 'APHA', 'API', 'APOG', 'APPN', 'APRN', 'APT', 'AR', 'ARMK', 'ARWR', 'ASML', 'ASX', 'AT', 'ATVI', 'AU', 'AUPH', 'AUTO', 'AUY', 'AVGO', 'AVYA', 'AXP', 'AYTU', 'AYX', 'AZN', 'AZUL', 'BA', 'BABA', 'BAC', 'BAH', 'BAM', 'BAND', 'BB', 'BBBY', 'BBC', 'BBQ', 'BBW', 'BBY', 'BC', 'BCS', 'BE', 'BEAT', 'BEN', 'BEST', 'BGS', 'BHC', 'BIDU', 'BIG', 'BIGC', 'BIIB', 'BILI', 'BILL', 'BIT', 'BJ', 'BK', 'BKE', 'BKNG', 'BLDP', 'BLK', 'BLL', 'BLMN', 'BLNK', 'BLUE', 'BLW', 'BMO', 'BMY', 'BMY~', 'BNTX', 'BOOM', 'BOTZ', 'BOX', 'BP', 'BR', 'BRC', 'BRK.A', 'BRK.B', 'BRO', 'BUD', 'BX', 'BY', 'BYD', 'BYND', 'C', 'CAKE', 'CALM', 'CAR', 'CARE', 'CARR', 'CARS', 'CAT', 'CB', 'CBD', 'CBOE', 'CC', 'CCF', 'CCL', 'CCS', 'CCZ', 'CD', 'CEO', 'CFA', 'CFR', 'CGC', 'CHEF', 'CHGG', 'CHWY', 'CIA', 'CIM', 'CL', 'CLDR', 'CLF', 'CLVS', 'CLX', 'CMCSA', 'CME', 'CMG', 'CNK', 'CODX', 'COF', 'COKE', 'COLD', 'COO', 'COOP', 'COP', 'CORE', 'COST', 'COTY', 'CPA', 'CPB', 'CPE', 'CPF', 'CRM', 'CRON', 'CROX', 'CRSP', 'CRSR', 'CRWD', 'CRY', 'CS', 'CSCO', 'CSOD', 'CSPI', 'CTAS', 'CTXS', 'CUK', 'CUZ', 'CVAC', 'CVNA', 'CVS', 'CVX', 'CWH', 'CXW', 'CYBR', 'CZR', 'DAIO', 'DAL', 'DARE', 'DAX', 'DB', 'DBX', 'DDOG', 'DDS', 'DE', 'DELL', 'DFS', 'DG', 'DGLY', 'DGX', 'DHT', 'DIN', 'DIS', 'DK', 'DKNG', 'DKS', 'DL', 'DLTR', 'DMS', 'DNKN', 'DNOW', 'DOC', 'DOCU', 'DOOR', 'DOW', 'DPHC', 'DPZ', 'DRI', 'DS', 'DT', 'DTE', 'DUO', 'DVAX', 'DXC', 'EA', 'EAST', 'EAT', 'EB', 'EBAY', 'EC', 'ED', 'EGO', 'EHTH', 'EIX', 'EL', 'ELF', 'ELSE', 'ELY', 'ENPH', 'EQ', 'ERIC', 'ERII', 'ES', 'ESTC', 'ET', 'ETN', 'ETSY', 'EURN', 'EVER', 'EVRI', 'EW', 'EXAS', 'EXP', 'EXPE', 'EXPR', 'EYE', 'EYES', 'F', 'FAM', 'FANG', 'FARM', 'FAST', 'FAT', 'FB', 'FCAU', 'FCEL', 'FCX', 'FDS', 'FDX', 'FE', 'FEAC', 'FEYE', 'FIT', 'FIVE', 'FIX', 'FL', 'FLDM', 'FLIR', 'FLOW', 'FLY', 'FMCI', 'FNB', 'FOR', 'FORD', 'FOX', 'FR', 'FREE', 'FRO', 'FROG', 'FSD', 'FSLR', 'FSLY', 'FT', 'FTC', 'FTCH', 'FUN', 'FUND', 'FUV', 'FVRR', 'GAIN', 'GAN', 'GD', 'GDP', 'GDRX', 'GE', 'GEN           ', 'GENE', 'GEO', 'GES', 'GF', 'GHM', 'GILD', 'GIM', 'GIS', 'GL', 'GLAD', 'GLG', 'GLUU', 'GLW', 'GM', 'GME', 'GNUS', 'GOLD', 'GOLF', 'GOOG', 'GOOGL', 'GOOS', 'GPRO', 'GPS', 'GRMN', 'GROW', 'GRPN', 'GRUB', 'GRWG', 'GS', 'GSK', 'GSX', 'GT', 'GWRE', 'HA', 'HAL', 'HALO', 'HAS', 'HBMD', 'HCAC', 'HD', 'HE', 'HEAR', 'HERD', 'HERO', 'HES', 'HEXO', 'HI', 'HKIB', 'HLT', 'HMHC', 'HOG', 'HOL', 'HOME', 'HON', 'HOPE', 'HP', 'HPE', 'HPQ', 'HR', 'HRB', 'HSBC', 'HTZ', 'HUYA', 'IAC', 'IBIO', 'IBKR', 'IBM', 'ICBK', 'ICE', 'ICLN', 'IDEX', 'IEX', 'IGOV', 'III', 'IIPR', 'IMAX', 'IMMU', 'INFI', 'INFO', 'INO', 'INPX', 'INSG', 'INTC', 'INTU', 'IP', 'IPOB', 'IQ', 'IR', 'IRBT', 'IRL', 'IROQ', 'IRS', 'IT', 'ITCI', 'ITT', 'IVR', 'IZEA', 'JACK', 'JAMF', 'JAZZ', 'JBLU', 'JD', 'JFIN', 'JG', 'JMIA', 'JNJ', 'JOB', 'JOBS', 'JOE', 'JP', 'JPM', 'JWN', 'KBH', 'KC', 'KCAC', 'KEN', 'KGC', 'KHC', 'KIDS', 'KIM', 'KL', 'KMX', 'KNDI', 'KO', 'KODK', 'KR', 'KSS', 'KTOS', 'LAC', 'LADR', 'LAKE', 'LAND', 'LB', 'LCA', 'LE', 'LEE', 'LEG', 'LEO', 'LEVI', 'LHX', 'LI', 'LIFE', 'LIVE', 'LL', 'LLNW', 'LLY', 'LMND', 'LMT', 'LN', 'LOAN', 'LOGI', 'LOW', 'LPTX', 'LRCX', 'LRN', 'LSCC', 'LTRPA', 'LTRPB', 'LULU', 'LUV', 'LVGO', 'LVS', 'LYFT', 'LYV', 'M', 'MA', 'MAC', 'MAIN', 'MAN', 'MARA', 'MARK', 'MAS', 'MAT', 'MAXR', 'MC', 'MCD', 'MCK', 'MCS', 'MD', 'MDB', 'MDT', 'MEG', 'MELI', 'MEN', 'MESO', 'MET', 'MFA', 'MGM', 'MIC', 'MIK', 'MIN', 'MIND', 'MITT', 'MLHR', 'MLM', 'MMM', 'MMT', 'MN', 'MNDO', 'MO', 'MOD', 'MODN', 'MOMO', 'MPC', 'MRK', 'MRNA', 'MRO', 'MRVL', 'MS', 'MSFT', 'MSM', 'MT', 'MTB', 'MTCH', 'MTN', 'MU', 'MUH', 'MVIS', 'NAK', 'NAT', 'NAVI', 'NC', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NEO', 'NET', 'NEWR', 'NEXT', 'NFLX', 'NG', 'NGL', 'NICE', 'NICK', 'NIO', 'NK', 'NKE', 'NKLA', 'NLOK', 'NLS', 'NLY', 'NNOX', 'NOC', 'NOK', 'NOW', 'NRZ', 'NSA', 'NTAP', 'NTNX', 'NTR', 'NVAX', 'NVDA', 'NVTA', 'NWS', 'NYMT', 'NYT', 'NaN', 'OC', 'OFC', 'OI', 'OIBR.C', 'OKE', 'OKTA', 'OLD', 'OMI', 'ON', 'ONE', 'OPBK', 'OPES', 'OPK', 'OR', 'ORCL', 'OSTK', 'OTLK', 'OTRK', 'OUT', 'OXY', 'PAAS', 'PAGS', 'PANW', 'PBR', 'PBR.A', 'PCG', 'PD', 'PDD', 'PEAK', 'PENN', 'PEP', 'PFE', 'PG', 'PH', 'PHD', 'PINS', 'PK', 'PLAN', 'PLAY', 'PLL', 'PLNT', 'PLT', 'PLTR', 'PLUG', 'PLUS', 'PM', 'PNC', 'POOL', 'POST', 'PPL', 'PPT', 'PRO', 'PRPL', 'PRT', 'PRTY', 'PS', 'PSA', 'PSTG', 'PSTH', 'PSX', 'PT', 'PTI', 'PTON', 'PUMP', 'PYPL', 'PZZA', 'QCOM', 'QGEN', 'QQQ', 'QSR', 'QTWO', 'QUAD', 'RACE', 'RAD', 'RBC', 'RCII', 'RCKT', 'RCL', 'RDFN', 'RDHL', 'RDS.A', 'RDS.B', 'RE', 'REAL', 'REGN', 'RGR', 'RH', 'RICK', 'RIG', 'RIGL', 'RILY', 'RING', 'RIOT', 'RKT', 'RL', 'RNA', 'RNG', 'ROAD', 'ROCK', 'ROKU', 'ROLL', 'ROST', 'RS', 'RST', 'RTX', 'RUN', 'RUTH', 'RVLV', 'RWT', 'RXT', 'SA', 'SABR', 'SAFE', 'SALT', 'SAM', 'SAN', 'SAVE', 'SB', 'SBUX', 'SC', 'SCHW', 'SCI', 'SCS', 'SD', 'SDC', 'SDGR', 'SE', 'SEAS', 'SEDG', 'SF', 'SFIX', 'SGU', 'SHAK', 'SHIP', 'SHOP', 'SI', 'SIG', 'SIRI', 'SIX', 'SJW', 'SKY', 'SLB', 'SMAR', 'SMG', 'SMH', 'SNAP', 'SNE', 'SNOW', 'SNP', 'SNY', 'SO', 'SOL', 'SOLO', 'SON', 'SONO', 'SP', 'SPAQ', 'SPCE', 'SPG', 'SPGI', 'SPI', 'SPLK', 'SPOT', 'SPR', 'SPWR', 'SPXC', 'SPY', 'SQ', 'SQQQ', 'SRNE', 'SSSS', 'ST', 'STAR          ', 'STAY', 'STEP', 'STM', 'STMP', 'STNE', 'STNG', 'STWD', 'STZ', 'STZ.B', 'SUM', 'SUN', 'SUNW', 'SWBI', 'SWCH', 'SWKS', 'SYF', 'SYY', 'T', 'TACO', 'TAK', 'TAL', 'TAP', 'TAP.A', 'TCOM', 'TD', 'TDA', 'TDOC', 'TDS', 'TEAM', 'TECH', 'TELL', 'TEVA', 'TGT', 'THC', 'THO', 'TIF', 'TIMB$', 'TISI', 'TJX', 'TLRY', 'TLSA', 'TLT', 'TM', 'TME', 'TMO', 'TMUS', 'TNK', 'TNP', 'TOL', 'TOPS', 'TOWN', 'TQQQ', 'TR', 'TREE', 'TRIP', 'TRUE', 'TRVN', 'TSCO', 'TSLA', 'TSM', 'TSN', 'TT', 'TTD', 'TTM', 'TTMI', 'TTWO', 'TU', 'TUP', 'TURN', 'TV', 'TW', 'TWLO', 'TWNK', 'TWO', 'TWOU', 'TWTR', 'TX', 'TXN', 'TY', 'TYL', 'UA', 'UAA', 'UAL', 'UAVS', 'UBER', 'UBS', 'UE', 'UFO', 'UI', 'ULTA', 'UN', 'UNFI', 'UNH', 'UNTY', 'UONE', 'UPS', 'UPWK', 'URBN', 'USB', 'USCR', 'USFD', 'UTF', 'UTZ', 'UVV', 'V', 'VALE', 'VBIV', 'VC', 'VEEV', 'VERI', 'VERY', 'VFC', 'VIAC', 'VIRT', 'VLO', 'VMW', 'VRM', 'VSTO', 'VXRT', 'VZ', 'W', 'WAT', 'WB', 'WBA', 'WDAY', 'WDC', 'WEN', 'WF', 'WFC', 'WH', 'WIFI', 'WING', 'WINS', 'WIRE', 'WIX', 'WLL', 'WM', 'WMG', 'WMT', 'WOOD', 'WORK', 'WPM', 'WRTC', 'WTI', 'WTRH', 'WU', 'WW', 'WWE', 'WYNN', 'X', 'XLNX', 'XOM', 'XPEV', 'XRX', 'XSPA', 'XYF', 'YELP', 'YETI', 'YEXT', 'YUM', 'YY', 'Z', 'ZI', 'ZM', 'ZNGA', 'ZS', 'ZUO'])

In [ ]:
nonMatrix = ['NaN', 'ACB', 'ALL', 'AM', 'AN', 'ANY', 'AONE', 'APT', 'AT', 'BB', 'BE', 'BEST', 'BIG', 'BILL', 'BOX', 'BRO', 'BY', 'CEO', 'DNOW', 'ET', 'EVER', 'FDS', 'FL', 'FOR', 'FREE', 'GDP', 'GL', 'HAS', 'HD', 'HE', 'HOME', 'HOPE', 'IQ', 'JP', 'KIM', 'LIFE', 'LIVE', 'LL', 'LOW', 'MAN', 'NEXT', 'NOW', 'OI', 'ONE', 'OUT', 'PLAN', 'PLAY', 'PM', 'PPT', 'PUMP', 'RE', 'REAL', 'RH', 'RTX', 'RUN', 'SAVE', 'SE', 'SGU', 'SO', 'SPXC', 'STAR          ', 'STAY', 'TDA', 'TEAM', 'TECH', 'TELL', 'TIMB$', 'TISI', 'TV', 'TWO', 'UI', 'TD', 'GLG']

In [55]:
commentdf

,_id,id,created_utc,body,score,sentiment,stocks,size
0,5fac60f84f1d40506940af6f,f23y8fn,1.569941e+09,[**Donald J. Trump**@realDonaldTrump](https://...,7,neutral,[],0
1,5fac60f84f1d40506940af70,f24vyaa,1.569961e+09,I subscribe to this reality,3,neutral,[],0
2,5fac60f84f1d40506940af71,f24dxww,1.569950e+09,nice,1,neutral,[],0
3,5fac60f84f1d40506940af72,f243mu5,1.569944e+09,Na that’s just me who farted after eating chip...,1,neutral,[],0
4,5fac60f84f1d40506940af73,f24ssqk,1.569960e+09,"same here bud, just a bump needed",1,bullish,[],0
...,...,...,...,...,...,...,...,...
2392628,5faf404fa6460ea208f39e70,g79oznl,1.601543e+09,Are you going to publish your research?,5,neutral,[],0
2392629,5faf404fa6460ea208f39e71,g79bjxq,1.601530e+09,Ah fucking boomer mentality,7,neutral,[],0
2392630,5faf404fa6460ea208f39e72,g77wunh,1.601500e+09,Yea for no reason at all,1,neutral,[],0
2392631,5faf404fa6460ea208f39e73,g780x3y,1.601502e+09,what are you looking to do? Hold long and exit...,1,neutral,[],0
2392632,5faf404fa6460ea208f39e74,g798bbi,1.601527e+09,Watch us be red or fade red tomorrow 😂,1,bearish,[],0

In [61]:
mentiondf = commentdf.loc[commentdf['size'] != 0]

In [103]:
keydf = pd.DataFrame(columns = ['stock', 'comment1', 'comment2', 'comment3', 'comment4', 'comment5'])
for i in range(len(testdict.keys())):
    slice = mentiondf.loc[pd.DataFrame(mentiondf['stocks'].tolist()).isin([list(testdict.keys())[i]]).values]
    slice = slice.sample(frac=1).reset_index()
    print(i)
    keydf.at[i, 'stock'] = list(testdict.keys())[i]
    for j in range(5):
        keydf.at[i, 'comment'+str(j+1)] = slice.loc[j, 'body']

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920

In [104]:
keydf

,stock,comment1,comment2,comment3,comment4,comment5
0,AA,what if you jack off to AA \*because\* shes wo...,Not sure what calls an AA have to do with stoc...,"AA executive plat checking in, they’re awful b...","Gonna blow 500 bucks on AA, F, and LEVI. wish ...",As an AA executive plat flyer...I concur.
1,AAL,$AAL to 13.5 makes me want to vomit. Glad I cu...,All in AAL eod,That AAL ceo seems ready to die,lol fuckin AAL,COTY 5c and AAL 19c expire 7/10 please just fo...
2,AAPL,I’ve stayed out of AAPL until now but anyone e...,"Same, who knew AAPL 420 was a bad idea??",Because Apple is thought to be a safe place to...,Guys I just bought 1 share of AAPL you’re welcome,What expiry date on AAPL? Anyone who didn’t bu...
3,AAXN,Just curious... why AAXN?,PTON and AAXN kept my portfolio alive today. T...,Got AAXN too.\n\nDGLY just has more room for g...,AAXN and gun stock holders have noticed there ...,"said it yes, AAXN DGLY SSTI \n\nriot stocks"
4,ABBV,Damn anyone play ABBV? Sold out earlier but s...,ABBV $96c 2/14 \nMSFT $195c 2/14\n\nHold or sell?,PENN and ABBV both up,Np... here's a few others. VLO is a great one ...,ABBV taking off?
...,...,...,...,...,...,...
916,ZI,"ZI, yay or nay? I wished IPOs did options imme...",GG ZI call holders,ZI is an easy 10% in the next 2 trading sessio...,SLV doesn't matter. Only ZI,Anybody seen ZI ? Up 15% pre market... why?
917,ZM,ZM beat adjusted earnings estimates by over 10...,Agreed. I took some profits when it hit the lo...,I just need ZM to drop to 215 and I’ll be happy,Imagine how high ZM will go when they announce...,LETS GO ZM
918,ZNGA,"Fuck you ZNGA, knew I shouldve put more into PTON",Anyone thinking of playing ZNGA or EBAY on ear...,$ZNGA gonna be $9 today or on Monday. Somethin...,Ahhhh I get it; we’re in fucking backwards wor...,Do you ignore every intelligent thought in you...
919,ZS,Is ZS gonna hang out up here or go back down t...,"Think it’s a good time to buy CRWD, DOCU & ZS ...",ZS straddles/strangles dated past 6/12,Can ZS re moon now please,Solar: FSLR VSLR RUN\n\nCloud: TWLO ZS CLDR CR...
920,ZUO,You seem more emotionally invested than I am. ...,anyone else got ZUO calls?,lol you idiots buying ZUO. Isn’t it fishy that...,Im not in it yet because I have most of my mon...,ZUO is the ginger stepson of the cloud stocks....

In [31]:
connectionsdict = onehotdf.sum(axis = 1).to_dict()
connectionsdict = {k:v for k, v in connectionsdict.items() if v != 1}

onehotdf = onehotdf[onehotdf.index.isin(connectionsdict.keys())]

In [32]:
companydict = onehotdf.sum(axis = 0).to_dict()
companydict = {k:v for k, v in companydict.items() if v == 0}

onehotdf.drop(columns = companydict.keys(), inplace = True)

In [33]:
onehotdf = onehotdf.T

In [34]:
onehotdf

,52,56,67,73,91,157,323,377,387,403,...,2392139,2392197,2392242,2392254,2392328,2392344,2392413,2392510,2392539,2392573
A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AACQ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AACQU,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAL,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZTS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZUMZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZUO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZVO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZYNE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from scipy import sparse

matrix = onehotdf.to_numpy()
sparsematrix = sparse.csr_matrix(matrix)

adjacencyframe = pd.DataFrame(sparsematrix.dot(onehotdf.T), columns = onehotdf.index)
adjacencyframe.set_index(onehotdf.index, inplace= True)

In [38]:
adjacencyframe

,A,AA,AACQ,AACQU,AAL,AAOI,AAP,AAPL,AAWW,AAXN,...,ZNGA,ZNH,ZOM,ZS,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYNE
A,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AA,0,42,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AACQ,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AACQU,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAL,0,2,0,0,1162,0,0,42,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZTS,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
ZUMZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
ZUO,0,0,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,30,0,0
ZVO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
ZYNE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [39]:
import numpy as np

In [40]:
adjacencyframe.values[[np.arange(adjacencyframe.shape[0])]*2] = 0

In [41]:
edgelist = adjacencyframe.stack().reset_index()

In [42]:
edgelist

        level_0 level_1  0
0             A       A  0
1             A      AA  0
2             A    AACQ  0
3             A   AACQU  0
4             A     AAL  0
...         ...     ... ..
7311611    ZYNE     ZTS  0
7311612    ZYNE    ZUMZ  0
7311613    ZYNE     ZUO  0
7311614    ZYNE     ZVO  0
7311615    ZYNE    ZYNE  0

[7311616 rows x 3 columns]

In [43]:
edgelist.drop(edgelist.loc[edgelist[0] == 0].index, inplace = True)

In [44]:
edgelist.reset_index(drop=True, inplace=True)

In [45]:
edgelist.columns = ['source', 'target', 'weight']

In [46]:
edgelist

      source target  weight
0          A     AR       1
1          A      B       1
2          A   BABA       1
3          A    FAF       1
4          A    HPE       1
...      ...    ...     ...
95607   ZYNE    CVM       1
95608   ZYNE    III       1
95609   ZYNE   NVTA       1
95610   ZYNE   TGTX       1
95611   ZYNE   VBIV       1

[95612 rows x 3 columns]

In [49]:
jsondict = {}

In [50]:
jsondict['links'] = edgelist.to_dict('records')

In [55]:
namesdf = pd.DataFrame(columns = ['names'])

In [56]:
namesdf['names'] = list(adjacencyframe.columns)

In [58]:
jsondict['edges'] = namesdf.to_dict('records')

In [61]:
with open('data.json', 'w') as fp:
    json.dump(jsondict, fp)

In [47]:
edgelist.to_json('data.json', 'records')

In [42]:
adjacencyframe

,AAL,AAPL,AAXN,ABT,ACB,ADBE,AG,AIRT,ALK,ALL,...,WMT,WORK,WTI,WWE,WYNN,XOM,Z,ZM,ZNGA,ZS
AAL,0,42,1,1,2,0,0,1,15,3,...,7,3,1,7,10,9,0,14,0,0
AAPL,42,0,0,1,4,22,1,11,1,12,...,102,13,1,1,1,16,1,75,2,3
AAXN,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
ABT,1,1,0,0,0,0,0,0,0,0,...,2,3,0,0,0,1,0,6,0,0
ACB,2,4,0,0,0,0,0,0,0,2,...,3,0,0,0,0,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XOM,9,16,1,1,0,0,0,0,0,1,...,7,1,5,0,2,0,0,0,0,0
Z,0,1,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,0
ZM,14,75,0,6,2,4,1,0,0,4,...,19,67,0,1,3,0,0,0,4,10
ZNGA,0,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,4,0,1
ZS,0,3,0,0,0,2,0,0,0,0,...,0,10,0,0,0,0,0,10,1,0

In [44]:
namedf = pd.DataFrame(columns = ['name'])

In [45]:
namedf['name'] = adjacencyframe.columns

In [47]:
namedf.to_json('nodes.json', 'records')

In [17]:
G = nx.from_pandas_adjacency(adjacencyframe)

In [18]:
pos = nx.spring_layout(G)

In [19]:
import plotly.offline as py
import plotly.graph_objects as go

In [20]:
'''node_trace = go.Scatter(x         = [],
                        y         = [],
                        mode      = 'markers+text',
                        hoverinfo = 'none',
                        marker    = dict(color = [],
                                         size  = [],
                                         line  = None))

for node in G.nodes():
    x, y = pos[node]
    node_trace['x'] += tuple([x])
    node_trace['y'] += tuple([y])
    node_trace['marker']['color'] += tuple(['cornflowerblue'])'''

In [21]:
'''def make_edge(x, y, text, width):
    return  go.Scatter(x         = x,
                       y         = y,
                       line      = dict(width = width,
                                   color = 'cornflowerblue'),
                       hoverinfo = 'text',
                       text      = ([text]),
                       mode      = 'lines')'''

In [27]:
'''edge_trace = []
for edge in G.edges():
    
    if G.edges()[edge]['weight'] > 0:
        char_1 = edge[0]
        char_2 = edge[1]
    x0, y0 = pos[char_1]
    x1, y1 = pos[char_2]
    text   = 'test'
        
    trace  = make_edge([x0, x1, None], [y0, y1, None], text, 
                    width = 0.0003*G.edges()[edge]['weight']**1.75)
    edge_trace.append(trace)'''

In [28]:
'''# Customize layout
layout = go.Layout(
    paper_bgcolor='rgba(0,0,0,0)', # transparent background
    plot_bgcolor='rgba(0,0,0,0)', # transparent 2nd background
    xaxis =  {'showgrid': False, 'zeroline': False}, # no gridlines
    yaxis = {'showgrid': False, 'zeroline': False}, # no gridlines
)
# Create figure
fig = go.Figure(layout = layout)
# Add all edge traces
for trace in edge_trace:
    fig.add_trace(trace)
# Add node trace
fig.add_trace(node_trace)
# Remove legend
fig.update_layout(showlegend = False)
# Remove tick labels
fig.update_xaxes(showticklabels = False)
fig.update_yaxes(showticklabels = False)
# Show figure
fig.write_html('adjacency.html')'''